body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.person-name {
    color: orange;
}
p {
    text-align: justify;
}
.hire-button {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 5%;
    background-image: linear-gradient(orange, tomato);
}
.introduction {
    display: flex;
    width: 100%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width {
    width: 50%;
    padding-left: 50px;
}
.half-width img {
    width: 85%;
    margin-top: 30px;
}
.dream-big {
    display: flex;
    width: 100%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}
.dream-big img {
    width: 90%;
}
.download-button {
    text-decoration: none;
    padding: 10px 35px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.para2 {
    padding-right: 130px;
}
.learner {
    color: orange;
}
.experience-area{
    margin-top: 150px;
}
.experience-boxmodel {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: -10px;
}

.experience-item {
    box-shadow: 20px 20px 20px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 35px;
}
#stack-web-dev {
    border-left: 5px solid grey;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#baby-web-dev {
    border-left: 5px solid grey;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center ;
    margin-top: 200px;
}